mkdocs
mkdocs-material
mkdocs-netlifycms-plugin
mkdocs-pdf-export-plugin
weasyprint
mkdocs-mermaid2-plugin
mkdocs-tabs-plugin
mkdocs-include-markdown-plugin
mkdocs-redirects
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-plugin
mkdocs-macros-plugin
